@media (min-width: 768px) {
  /* height of full html page should be 100% */
  body {
    margin: 0;
    padding: 0;
  }
  /* ----------------------------------------------------------------------
  ---------------------------Navigation Bar--------------------------------
  ------------------------------------------------------------------------ */
  .nav {
    list-style: none;
    background-color: grey;
    position: fixed;
    width: 100%;
  }

  .nav li {
    display: inline;
    float: left;
  }
  .nav li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1.2rem;
    display: block;
    font: 1.1rem Poppins, "Source code Pro", Inconsolata, "Lucida Console",
      Terminal, "Curier New", Courier;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 6px solid transparent;
  }
  .nav li a:hover {
    /*border-bottom: 2px solid blue;*/
    color: blue;
    background-color: darkgrey;
  }
  .nav li a.active {
    color: blue;
    border-bottom: 6px solid blue; /*this is for activating underline in navigation bar*/
  }

  /* -------------------------------------------------------------------------------------
  ---------------------Toggle button for the navigation bar ------------------------------
  ----------------------------------------------------------------------------------------*/

  /* Icon 1 */

  #nav-icon1,
  #nav-icon2,
  #nav-icon3,
  #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span,
  #nav-icon3 span,
  #nav-icon4 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  /* From tutorial  */

  .toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0.5rem;
    padding-bottom: 0;
    vertical-align: middle;
    float: right;
  }
  .toggle-button:focus {
    outline: none;
  }

  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    background-color: black;
    display: block;
    margin: 0.6rem 0;
  }
  /* -------------------------------------------------------------------------------------
  --------------------- ------------Mobile-Navigation Menu  ------------------------------
  ----------------------------------------------------------------------------------------*/
  .mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: grey;
    width: 80%;
    height: 100vh;
  }

  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  .mobile-nav__item {
    margin: 1rem 0;
  }

  .mobile-nav__item a {
    font-size: 1.5rem;
    font: 1.1rem Poppins, "Source code Pro", Inconsolata, "Lucida Console",
      Terminal, "Curier New", Courier;
    color: white;
  }
  /* ======================================================================================
  --------------------- ------------Background Image Section  ------------------------------
  ==========================================================================================*/
  .largeimage {
    width: 100%;
    height: auto;
    background-size: cover;
  }

  .headings-title p {
    background-color: lightblue;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 14px;
    font-size: 1.5rem;
    color: blue;
    float: none;
  }
  .headings-title h1 {
    text-align: center;
    color: blue;
    font-size: 40px;
    text-transform: uppercase;
    box-sizing: border-box;
    padding-left: 50px;
  }
  /* ======================================================================================
  --------------------- ------------Services We Offer------  ------------------------------
  ==========================================================================================*/
  .headings-title h1 {
    text-align: center;
    color: blue;
    font-size: 3rem;
    text-transform: uppercase;
  }
  /* SERVICES */
  .headings-title p {
    background-color: lightblue;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 14px;
    text-align: center;
    font-size: 1.5rem;
    color: blue;
  }

  /* I have nested all of other working divs in this and used it to dispaly as flex */
  .workstation {
    display: flex;
    flex-basis: auto;
    width: 100%;
  }
  .work {
    background-color: transparent;
    width: 22%;
    display: inline-block;
    margin: auto;

    margin-top: 0;
    margin-bottom: 0;
  }
  .workicon {
    align-items: center;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    width: 50%;
  }
  .work h2 {
    text-align: center;
    font-size: 1.8rem;
    color: blue;
  }
  .work p {
    text-align: center;
    color: blue;
    font-size: 1rem;
  }
  /* The cloth grid system that and pictures maintained */
  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0em;
  }
  /* ======================================================================================
  ----------------------To see all the grid border uncomment below css code  ----
  ==========================================================================================*/
  /* .grid-container > div {
    border: 2px solid black;
  } */
  .clothlaundary {
    width: 70%;
    height: auto;
    margin-left: 30%;
  }
  .cloth {
    margin-left: 0;
  }
  /* Cloth Ironing Blue Box */
  .topcontainer {
    background-color: blue;
    width: 70%;
    height: auto;
    padding-top: 13%;
  }
  .servicesicon {
    width: 15%;
    padding: 10% 25% 0 40%;
  }
  .topcontainer h2 {
    text-align: center;
    color: white;
    font-size: 2em;
    margin-top: 0;
  }
  .topcontainer p {
    text-align: center;
    color: white;
    font-size: 1em;
    margin-top: -4%;
  }
  .bottom {
    justify-self: end;
  }
  footer {
    text-align: center;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(163, 82, 55);
    color: white;
  }
  footer p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 1em;
    margin-top: 0em;
    padding-bottom: 0.5em;
  }
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    display: none;
  }
  /* -------------------------------------------------------------------------------------
  --------------------- ------------Mobile-Navigation Menu  ------------------------------
  ----------------------------------------------------------------------------------------*/

  .mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: grey;
    width: 80%;
    height: 100vh;
  }

  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: center;
  }
  .mobile-nav__item {
    margin: 1rem 0;
  }

  .mobile-nav__item a {
    font-size: 1.5rem;
    font: 1.1rem Poppins, "Source code Pro", Inconsolata, "Lucida Console",
      Terminal, "Curier New", Courier;
    color: white;
  }
  /* ----------Image Section ---------*/
  .largeimage {
    width: 100%;
    height: auto;
  }

  .headings-title p {
    border: 2px solid black;
    text-align: center;
    background-color: lightblue;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 14px;
    font-size: 1.5rem;
    color: blue;
    padding-left: 0;
    padding-right: 0;
  }
  .headings-title h1 {
    text-align: center;
    color: blue;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  /* I have nested all of other working divs in this and used it to dispaly as flex */
  .workstation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .work {
    background-color: transparent;
    width: 80%;
    align-items: center;
    margin-left: 8%;
  }
  .workicon {
    align-items: center;
    padding-top: 5%;
    padding-left: 30%;
    padding-right: 30%;
    width: 50%;
  }
  .work h2 {
    text-align: center;
    font-size: 1.8rem;
    color: blue;
    margin-left: 12%;
  }
  .work p {
    margin-left: 8%;
    text-align: center;
    align-items: center;
    color: black;
    font-size: 1rem;
    font-family: Poppins;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 1.5rem;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }
  .top {
    order: 3;
  }
  .clothlaundary {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 50%;
  }
  .topcontainer {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-radius: 2px solid black;
    margin: 0;
    padding: 0;
  }
  .servicesicon {
    display: none;
    width: 20%;
  }
  .topcontainer h2 {
    background-color: cadetblue;

    text-align: center;
    color: black;
    font-size: 2em;
    padding: 0;
    margin: 0;
  }
  .topcontainer p {
    text-align: center;
    align-items: center;
    color: black;
    font-size: 1rem;
    font-family: Poppins;
    border-radius: 15px;
  }
}
