/* height of full html page should be 100% */
body {
  margin: 0;
  padding: 0;
}

/*  Here is no need of top left and overflow anymore */
.nav {
  list-style: none;
  background-color: grey;
  position: fixed;
  width: 100%;
}

.nav li {
  display: inline;
  float: left;
}
.nav li a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 1.2rem;
  display: block;
  font: 1.1rem Poppins, "Source code Pro", Inconsolata, "Lucida Console",
    Terminal, "Curier New", Courier;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 6px solid transparent;
}
.nav li a:hover {
  /*border-bottom: 2px solid blue;*/
  color: blue;
  background-color: darkgrey;
}
.nav li a.active {
  color: blue;
  border-bottom: 6px solid blue; /*this is for activating underline in navigation bar*/
}

/* Toggle button for the navigation bar */

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0;
  vertical-align: middle;
  float: right;
}
.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  background-color: black;
  display: block;
  margin: 0.6rem 0;
}
/* Toggle button for the navigation bar */

/* Mobile-Navigation Menu */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: grey;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}
.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  font: 1.1rem Poppins, "Source code Pro", Inconsolata, "Lucida Console",
    Terminal, "Curier New", Courier;
  color: white;
}
/* -------------------background image section --------------------- */
.largeimage {
  width: 100%;
  background-size: cover;
}

.headings-title p {
  background-color: lightblue;
  width: 15%;
  height: 35px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 14px;
  float: left;
  margin: 3% 43% 3%;
  padding:10px;
  text-align: center;
  font-size: 1.5rem;
  color: blue;
}
.headings-title h1 {
  /* border: 2px solid black; */
  text-align: center;
  color: blue;
  font-size: 40px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 50px;
}
/* I have nested all of other working divs in this and used it to dispaly as flex */
.workstation {
  display: flex;
  flex-basis: auto;
  width: 100%;
}
.work {
  background-color: transparent;
  width:22%;
  display: inline-block;
  margin: auto;
}
.work h2 {
  text-align: center;
  font-size: 27px;
  color: blue;
}
.work p {
  text-align: center;
  color: blue;
  font-size: 17px;
}
.workicon {
  padding: 2px 105px;
}
.topcontainer {
  background-color: blue;
  float: left;
  width: 573px;
  height: 585px;
  margin-top: 20px;
}

.clothlaundary {
  float: left;
  margin: 20px 0px 0px 186px;
}
.bottomcontainer {
  background-color: blue;
  width: 573px;
  height: 500px;
  clear: both;
  float: left;
  height: 585px;
  margin-left: 186px;
}
.clothironing {
  float: left;
}
.servicesicon {
  padding: 150px 250px 0px;
}

.topcontainer h2 {
  text-align: center;
  color: white;
  font-size: 27px;
}
.topcontainer p {
  text-align: center;
  color: white;
  font-size: 17px;
}
.bottomcontainer h2 {
  text-align: center;
  color: white;
  font-size: 27px;
}
.bottomcontainer p {
  text-align: center;
  color: white;
  font-size: 17px;
}

/* .backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
